<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="/items/new" method="post" th:object="${itemForm}">
        <div>
            <label>제목</label>
            <input type="text" th:field="*{name}" placeholder="이름을 입력하세요">
        </div>

        <div>
            <label>가격</label>
            <input type="number" th:field="*{price}" placeholder="가격을 입력하세요">
        </div>

        <div>
            <label>수량</label>
            <input type="number" th:field="*{stockQuantity}" placeholder="수량을 입력하세요">
        </div>

        <div>
            <label>작가</label>
            <input type="text" th:field="*{author}" placeholder="작가를 입력하세요">
        </div>

        <div>
            <label>ISBN</label>
            <input type="text" th:field="*{isbn}" placeholder="ISBN을 입력하세요">
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>

</div>
</body>
</html>