<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
<!--                <th>작가</th>-->
                <th>가격</th>
                <th>수량</th>
<!--                <th>ISBN</th>-->
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td>
                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}" role="button">수정</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>